
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .sessaoEntradas {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }
  
  
  #sessao{
    width: 100%;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: 700;
    padding-left: 1rem;
    color: blue;
    text-indent: 1rem;
  }
  
  .entradas {
    max-width :450px;
    min-width: 250px;
    width: 90vw;
    height: 50vh;
    min-height: 500px;
    max-height: 550px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
   label { 
     position: absolute;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 700;
     font-size: 1.2rem;
     left: 3rem;
     margin-top: -0.6rem;
     background: white;
     padding: 0.1rem 0.5rem 0.1rem 0.5rem;
   }
   
   input {
     width: 100%;
     height: 50px;
     text-indent: 3rem;
     border-radius:30px;
     border:.1rem solid blue;
     font-weight: 700;
     font-size: 1rem;
   }
    input:focus {
      box-shadow: inset 0px 0px 10px rgba(10, 0, 160, 0.5);
    }
   
   #tipo-entrada {
     width: 50%;
     height: 50px;
     font-size: 1rem;
     text-indent: 0.5rem;
     font-weight: 300;
     padding: 0.1rem;
     border-radius: 0.5rem;
     background: white;
   }

   
   
   #menu-entrada > input {
     text-indent: 0rem;
     background: blue;
     color: white;
     font-size: 1rem;
     font-weight: 900;
     border-radius: 30px;
     box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
   }
   
   #tabela {
     width: 90vw;
     height: 90vh;
     border-collapse: collapse;
     font-size: 0.5rem;
   }
   
   th, td {
     padding: 6px 5px;
     border: 0.01rem solid black;
   }
   
   tr:nth-child(even){
     background: #fafafa;
   }
   
   
   .excluir-entrada {
     background: red;
     color: white;
     border: none;
     padding: 3px;
     border-radius: 5px;
   }
   
   #parcelas-devedoras {
     background: red;
     color: white;
     font-weight: 700;
   }
   #parcelas-recebiveis {
  background: green;
  color: white;
  font-weight: 700;
}